@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --font-family: "Archivo", sans-serif;
}

@keyframes float {
  0%, 100% { transform: translateY(-50%) translateX(25%) translateY(0); }
  50%      { transform: translateY(-50%) translateX(25%) translateY(-25px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}



